MerchantID: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'MerchantID'"><br>
TradeSha: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'shaEncrypt'"><br>
TradeInfo: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'aesEncrypt'"><br>
TimeStamp: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'TimeStamp'"><br>
Version: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'Version'"><br>
NotifyUrl: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'NotifyUrl'"><br>
ReturnUrl: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'ReturnUrl'"><br>
MerchantOrderNo: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'MerchantOrderNo'"><br>
Amt: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'Amt'"><br>
ItemDesc: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'ItemDesc'"><br>
Email: <input type="text" [ngModel]="Commod.merch$ | async | asObject: 'Email'"><br>
<button (click)='out()'>Out</button>
<button (click)='pay()'>Pay</button>