<h1>Memorandum:</h1>
<div class="btn">
  <!-- <input type="text" [(ngModel)]="changeNumber" placeholder="欲修改之編號"> -->
  <select [(ngModel)]="changeNumber">
    <ng-container *ngFor="let changeID of (todoList | async | todos);let i = index;">
      <option *ngIf="(todoList | async | todos).length == 0" selected>0</option>
      <option *ngIf="(todoList | async | todos).length != 0 && index == 0" selected [value]="changeID.id">
        {{changeID.id}}
      </option>
      <option *ngIf="(todoList | async | todos).length != 0">{{changeID.id}}</option>
    </ng-container>
  </select>
  <input type="text" [(ngModel)]="Change" placeholder="欲修改之事項">
  <button (click)='postServer("put")'>修改</button>
  <input type="text" [(ngModel)]="Add" placeholder="備忘事項">
  <button (click)='postServer("post")'>新增</button>
  <!-- <input type="text" [(ngModel)]="Delete" placeholder="欲刪除之編號"> -->
  <select [(ngModel)]="Delete">
    <ng-container *ngFor="let changeID of (todoList | async | todos);let i = index;">
      <option *ngIf="(todoList | async | todos).length == 0" selected>0</option>
      <option *ngIf="(todoList | async | todos).length != 0 && index == 0" selected [value]="changeID.id">
        {{changeID.id}}
      </option>
      <option *ngIf="(todoList | async | todos).length != 0">{{changeID.id}}</option>
    </ng-container>
  </select>
  <button (click)='postServer("delete")'>刪除</button>
</div>
<ul>
  <li *ngFor="let todo of todoList | async | todos">
    事項 {{todo.id}} : {{todo.title}}
  </li>
</ul>
<button (click)='signUpPage.emit("front")'>登出</button>