@import '~font-awesome/css/font-awesome.min.css';
@import "./font";

* {
  font-family: "FiraCode", "LXGW WenKai Mono TC", monospace;
  font-style: normal;
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

@import "login";