@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Permanent+Marker&display=swap');

*{
    font-family: "Permanent Marker", "LXGW WenKai Mono TC", monospace, cursive;
    font-weight: 400;
    font-style: normal;
}
ul{
    li{
        list-style-type: none;
    }
}