<div class="btn">
  <select [(ngModel)]="changeNumber">
    <ng-container *ngFor="let changeID of todoList.todos$ | async | todos">
      <option *ngIf="!changeID" selected>0</option>
      <option *ngIf="changeID && index == 0" selected [value]="changeID.id">
        {{changeID.id}}
      </option>
      <option *ngIf="changeID">{{changeID.id}}</option>
    </ng-container>
  </select>
  <input type="text" [(ngModel)]="Change" placeholder="欲修改之事項" (keyup.enter)="postServer('put')">
  <button (click)='postServer("put")'>修改</button>
  <input type="text" [(ngModel)]="Add" placeholder="備忘事項" (keyup.enter)="postServer('post')">
  <button (click)='postServer("post")'>新增</button>
  <select [(ngModel)]="Delete">
    <ng-container *ngFor="let changeID of todoList.todos$ | async | todos">
      <option *ngIf="!changeID" selected>0</option>
      <option *ngIf="changeID && index == 0" selected [value]="changeID.id">
        {{changeID.id}}
      </option>
      <option *ngIf="changeID">{{changeID.id}}</option>
    </ng-container>
  </select>
  <button (click)='postServer("delete")'>刪除</button>
</div>
<br><br>
<hr><br>
藍新購物：<br>
<input type="text" [(ngModel)]="webpayEmail" placeholder="email" (keyup.enter)='confrim("webpay")'>
<input type="text" [(ngModel)]="webpayPrice" placeholder="價格" (keyup.enter)='confrim("webpay")'>
<input type="text" [(ngModel)]="webpayItemDesc" placeholder="商品名稱" (keyup.enter)='confrim("webpay")'>
<button (click)='confrim("webpay")'>購買</button>
<br><br>
綠界購物：<br>
<input type="text" [(ngModel)]="ecpayEmail" placeholder="email" (keyup.enter)='confrim("ecpay")'>
<input type="text" [(ngModel)]="ecpayPrice" placeholder="價格" (keyup.enter)='confrim("ecpay")'>
<input type="text" [(ngModel)]="ecpayItemDesc" placeholder="商品名稱" (keyup.enter)='confrim("ecpay")'>
<button (click)='confrim("ecpay")'>購買</button>
<br><br>
<hr><br>
<input type="file" (change)="fileEvent($event)"><button (click)='upLoadFile()'>上傳檔案</button>
<p><a [href]="fileUrl | async" target="_blank">{{ fileUrl | async }}</a></p>
<br><br><button (click)='islogin.logout()'>登出</button>